<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js""></script>
    <title>N-League</title>
    <link rel=" stylesheet" href="../public/resources/css/n_league_score_overlay.css">
        <!-- <link rel="icon" href="./resources/img/letter-j-icon.png"> 
        -->
</head>

<body>
    <div class="maincontainer">
        <div><img class="reference" src="../public/resources/img/reference.png" alt=""></div>
        <div><img class="reference2" src="../public/resources/img/reference2.png" alt=""></div>
        <div class="uppercontainer">
            <div class="matchinfo">
                <div class="winds">
                    <div id="wind"><%=detail.wind%></div>
                    <div id="round"><%=detail.round%></div>
                </div>
                <div class="bonus">
                    <div class="kyotaku">
                        <img src="../public/resources/img/577959-1k.png" alt="Kyotaku">
                        <div class="bonusText" id="kyotaku"><%=detail.kyotaku%></div>
                    </div>
                    <div class="honba">
                        <img src="../public/resources/img/577959-100.png" alt="Honba">
                        <div class="bonusText" id="honba"><%=detail.honba%></div>
                    </div>
                </div>
                <div class="dora">
                    <% if(detail.dora.length > 0 && detail.dora[0] !== "") { %>
                    <% for(let d of detail.dora){ %>
                    <img src='../public/resources/img/pai_image/<%= d %>.png' alt="Dora">
                    <% } %>
                    <% } %>
                </div>
                <div class="doratext">Dora</div>
            </div>
            <div class="dateinfo">
                <div class="session">
                    <% if(detail.week !== null){ %>
                    <div>Week<div id="week"><%= detail.week %></div>
                    </div>
                    <div>- Game<div id="game"><%= detail.game %></div>
                    </div>
                    <div> | </div>
                    <% } %>
                    <div>
                        <%= detail.date %>
                    </div>
                </div>
            </div>
        </div>
        <div class="lowercontainer">
            <div class="playerinfo">
                <div class="card" id="player1">
                    <div id="riichiE" class="riichiMarker <% if(detail.riichiE == 'pointsE') { %> riichi <% } %>">
                            <img src="../public/resources/img/577959-1k.png" alt="">
                    </div>
                    <div id="east" class="context oyaBorder <% if(detail.oya == 'east') { %> oya <% } %>">
                        <div class="pic">
                            <img id="teamE" class="playerpic" src="../public/resources/img/team_logo/<%= teamE.logo %>.webp">
                        </div>
                        <div class="info">
                            <div class="waits">
                                <div class="waitsTextE">Waits </div>
                                <div class="marqueeContainer">
                                    <div class="waitsContainer" id="waitsE">
                                        <% if(detail.waitsE.length > 0 && detail.waitsE[0] !== "") { %>
                                        <% for(let e of detail.waitsE){ %>
                                        <img src='../public/resources/img/pai_image/<%= e %>.png' alt="waits">
                                        <% } %>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                            <div class="nameContainer">
                                <div class="playername" id="nameE"><%= detail.nameE %></div>
                            </div>
                            <div class="points" id="pointsE"><%= detail.pointsE %></div>
                        </div>
                    </div>
                </div>
                <div class="card" id="player2">
                    <div id="riichiS" class="riichiMarker <% if(detail.riichiS == 'pointsS') { %> riichi <% } %>">
                        <img src="../public/resources/img/577959-1k.png" alt="">
                </div>
                    <div id="south" class="context pyaBorder <% if(detail.oya == 'south') { %> oya <% } %>">
                        <div class="pic">
                            <img id="teamS" class="playerpic" src="../public/resources/img/team_logo/<%= teamS.logo %>.webp">
                        </div>
                        <div class="info">
                            <div class="waits">
                                <div class="waitsTextS">Waits </div>
                                <div class="marqueeContainer">
                                    <div class="waitsContainer" id="waitsS">
                                        <% if(detail.waitsS.length > 0 && detail.waitsS[0] !== "") { %>
                                        <% for(let s of detail.waitsS){ %>
                                        <img src='../public/resources/img/pai_image/<%= s %>.png' alt="waits">
                                        <% } %>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                            <div class="nameContainer">
                                <div class="playername" id="nameS"><%= detail.nameS %></div>
                            </div>
                            <div class="points" id="pointsS"><%= detail.pointsS %></div>
                        </div>
                    </div>
                    <!-- <div id="south" class="oyamarker <% if(detail.oya == 'south') { %> oya <% } %>"></div> -->
                </div>
                <div class="card" id="player3">
                    <div id="riichiW" class="riichiMarker <% if(detail.riichiW == 'pointsW') { %> riichi <% } %>">
                        <img src="../public/resources/img/577959-1k.png" alt="">
                </div>
                    <div id="west" class="context oyaBorder <% if(detail.oya == 'west') { %> oya <% } %>">
                        <div class="pic">
                            <img id="teamW" class="playerpic" src="../public/resources/img/team_logo/<%= teamW.logo %>.webp">
                        </div>
                        <div class="info">
                            <div class="waits">
                                <div class="waitsTextW">Waits </div>
                                <div class="marqueeContainer">
                                    <div class="waitsContainer" id="waitsW">
                                        <% if(detail.waitsW.length > 0 && detail.waitsW[0] !== "") { %>
                                        <% for(let w of detail.waitsW){ %>
                                        <img src='../public/resources/img/pai_image/<%= w %>.png' alt="waits">
                                        <% } %>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                            <div class="nameContainer">
                                <div class="playername" id="nameW"><%= detail.nameW %></div>
                            </div>
                            <div class="points" id="pointsW"><%= detail.pointsW %></div>
                        </div>
                    </div>
                    <!-- <div id="west" class="oyamarker <% if(detail.oya == 'west') { %> oya <% } %>"></div> -->
                </div>

                <div class="card" id="player4">
                    <div id="riichiN" class="riichiMarker <% if(detail.riichiN == 'pointsN') { %> riichi <% } %>">
                        <img src="../public/resources/img/577959-1k.png" alt="">
                </div>
                    <div id="north" class="context oyaBorder <% if(detail.oya == 'north') { %> oya <% } %>">
                        <div class="pic">
                            <img id="teamN" class="playerpic" src="../public/resources/img/team_logo/<%= teamN.logo %>.webp">
                        </div>
                        <div class="info">
                            <div class="waits">
                                <div class="waitsTextN">Waits </div>
                                <div class="marqueeContainer">
                                    <div class="waitsContainer" id="waitsN">
                                        <% if(detail.waitsN.length > 0 && detail.waitsN[0] !== "") { %>
                                        <% for(let n of detail.waitsN){ %>
                                        <img src='../public/resources/img/pai_image/<%= n %>.png' alt="waits">
                                        <% } %>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                            <div class="nameContainer">
                                <div class="playername" id="nameN"><%= detail.nameN %></div>
                            </div>
                            <div class="points" id="pointsN"><%= detail.pointsN %></div>
                        </div>
                    </div>
                    <!-- <div id="north" class="oyamarker <% if(detail.oya == 'north') { %> oya <% } %>"></div> -->
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../public/resources/js/n_league_score_overlay_show.js"></script>

</html>